@import "tailwindcss";

@theme {
  /* #e5e7eb */
  --color-forest-50: #99a1af;
  --color-forest-100: white;
  --color-forest-200: #acef75;
  --color-forest-300: #91ee77;
  --color-forest-400: #17e880;
  --color-forest-700: #2e482c;
  --color-forest-800: #16281f;
  --color-forest-900: #0f1c15;
  --color-forest-950: #030504;

  --animate-slideIn1: slideIn 0.4s ease-in-out forwards;
  --animate-slideIn2: slideIn 0.6s ease-in-out forwards;
  --animate-slideIn3: slideIn 0.8s ease-in-out forwards;
  --animate-slideIn4: slideIn 1s ease-in-out forwards;

  --animate-fadeIn: fadeIn 0.4s ease-in-out forwards;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@utility container {
  margin: auto;
}

@layer components {
  .neon {
    @apply rounded-full border border-forest-200 bg-gradient-to-b from-forest-200 to-forest-400 text-forest-900 shadow-[0_1px_4px_1px] shadow-forest-200/25;
  }
  .input {
    @apply rounded-md border-forest-800 bg-forest-800 p-2 text-forest-50 focus:outline-none focus:ring-2 focus:ring-forest-400 focus:border-forest-900 placeholder:text-forest-900;
  }
  .radial-gradient {
    @apply bg-radial-[50%_100%_at_50%_0%] from-forest-700 to-forest-800;
  }
  .btn {
    @apply rounded-full border border-forest-200 bg-gradient-to-b from-forest-200 to-forest-400 text-forest-900 shadow-[0_1px_4px_1px] shadow-forest-200/25 px-5 py-2 trasition hover:contrast-200;
  }
}
